body{
  background-color: #80be39;
}

.App {
  text-align: center;
}
.App header{
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}
.App img{
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
}


